:root{
    --ngx-valepro-color-primary: #F4F4F4;
    --ngx-valepro-color-secondary:#1A0C3F;
    --ngx-valepro-color-tertiary: #C567F2;
    --ngx-valepro-color-background: #1F134B;
    --ngx-valepro-font-family: 'Noto Sans';
}

$font-size         : 1.6rem;
$font-primary      : --ngx-valepro-font-family, normal;
$font-secondary    : --ngx-valepro-font-family, normal;