.container {
    padding: 10px 80px;
}

.title-input {
    font-weight: bold;
}

.content {
    width: 732px;
    display: flex;
    flex-direction: column;
    .content-form {
        margin-bottom: 30px;
    }
}

.description {
    text-align: left;
    font: normal normal normal 14px/17px Euclid Circular B;
    letter-spacing: 0px;
    color: #1A0C3F66;
    font-size: 14px;

    a {
        letter-spacing: 0px;
        color: #1A0C3F66;
    }
}